{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="row">
	{% for producto in products %}
	<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
			<div class="product d-flex flex-column">
				<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'store/images/' %}{{producto.principalCode}}_263.jpg" alt="{{producto.name}}">
					<div class="overlay"></div>
				</a>
				<div class="text py-3 pb-4 px-3">
					<div class="d-flex">
						<div class="cat">
							<span>{{producto.model.brand.typeProduct}}</span>
						</div>						
					</div>
					<h3><a href="#">{{producto.name}}</a></h3>
					<div class="pricing">
						{% for store in stores %}
						{% show_prices producto.id store.id %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
<div class="row mt-5">
		<div class="col text-center">
			<div class="block-27">
			<ul>
				{% if products.has_previous %}
					<li><a href="?page={{ products.previous_page_number }}">&lt;</a></li>
				{% endif %}
				{% for pagenum in products.paginator.page_range %}
					<li class="{% if products.number == pagenum %} active {% endif %}">
							<a href="?page={{ pagenum}}">{{pagenum}}</a>
					</li>					
				{% endfor %}				
			</ul>
			</div>
		</div>
	</div>
{% endblock content %}
