{% extends "base.html" %}
{% load static %}
{% block breadcumb %}
<li><a href="{% url "list_products" %}">Home</a></li>
<li><a href="#">{{producto.model.brand.typeProduct}}</a></li>
{% endblock %}
{% block content %}
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Product main img -->
			<div class="col-md-5 col-md-push-2">
				<div id="product-main-img">
					<div class="product-preview">
						<img src="{% static 'store/images/' %}{{producto.principalCode}}.jpg" alt="">
					</div>
				</div>
			</div>
			<!-- /Product main img -->

			<!-- Product thumb imgs -->
			<div class="col-md-2  col-md-pull-5">
				<div id="product-imgs">
					<div class="product-preview">
						<img src="{% static 'store/images/' %}{{producto.principalCode}}.jpg" alt="">
					</div>
				</div>
			</div>
			<!-- /Product thumb imgs -->

			<!-- Product details -->
			<div class="col-md-5">
				<div class="product-details">
					<h2 class="product-name">{{producto.name}}</h2>
					<div>
						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>								
					</div>
					<div class="product-options">
						<label>
							Tamaño : {{producto.size}}
						</label>								
					</div>

					<div class="add-to-cart">
						<div class="qty-label">
							Cantidad en paquete :  {{producto.quantity}}								
						</div>								
					</div>

					<ul class="product-links">
						<li>Share:</li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
					</ul>

				</div>
			</div>
			<!-- /Product details -->

			<!-- Product tab -->
			{% if prices %}
			<div class="col-md-12">
				<div id="product-tab">
					<!-- product tab nav -->
					<ul class="tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Comparaciones</a></li>						
					</ul>
					<!-- /product tab nav -->

					<!-- product tab content -->
					<div class="tab-content">
						<!-- tab1  -->						
						<div id="tab1" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-12">
									<div class="pricing pricing--tenzin">
										{% for price in prices %}
										<div class="pricing__item">
											<h3 class="pricing__title"><img src="{% static "store/images/logo-"%}{{price.store}}.png " alt=""></h3>
											<div class="pricing__price">{{price.amount}}</div>
										</div>
										{% endfor %}
									
									</div>									
								</div>
							</div>
						</div>
						<!-- /tab1  -->

					</div>
					<!-- /product tab content  -->
				</div>
			</div>
			{% endif %}
			<!-- /product tab -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

{% endblock content %}
{% block js %}
	<!-- jQuery Plugins -->
	<script src="{% static "store/js/jquery.min.js" %} "></script>
	<script src="{% static "store/js/bootstrap.min.js" %} "></script>
	<script src="{% static "store/js/slick.min.js" %} "></script>
	<script src="{% static "store/js/nouislider.min.js" %} "></script>
	<script src="{% static "store/js/jquery.zoom.min.js" %} "></script>
	<script src="{% static "store/js/main.js" %} "></script>
{% endblock js %}
